.container{
    margin: 8%;
}
.homebody{
    background: #2f0131;
    
    color: white;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: block;
      /* width: 100%;
      height: 100%; */
      position: absolute;
      /* top: 0; */
      left: 0;
      right: 0;
}
.card2{
    width: 13.5rem;
    height: fit-content;
    transition: transform .5s;
    overflow: hidden;
    
    /* display: -webkit-inline-box;
    flex: wrap; */
 
}