
/* navbar css */

.nb{
    background-color: #230124;    
}
.nbr{
    color: white !important;
}
.nv{
    margin-left: 35% !important;    
}

/* login component and signup component*/

.Container{
    padding : 10% 35% !important;
    text-align: center;
}

.fb{
    width: 100%;
    background-color: inherit !important;
    border-color: white !important;
    border-radius: 50px !important;
}

.fb:hover{
    background-color: #5e0361 !important;
}

.fi{
    background-color: inherit !important;
    border: none !important;
    border-bottom: 1px solid white !important;
    color: white !important;
}

.formbody{
    /* background: linear-gradient(217deg, red,#7b0680 90.71%); */
    background: #2f0131;
    
    color: white;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      /* top: 0; */
      left: 0;
    
}
.errormsg{
    color: red;
}
.signuplink{
    color: white;
}
.signuplink:hover{
    color: white;
}

@media only screen and (max-width: 600px) {
    .nv{
        margin-left: 10% !important;
    }
    .Container{
        padding : 30% 10% !important;
        text-align: center;
    }
}
